<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.wego.mapper.UserFriendRelateMapper">

    <resultMap id="BaseResultMap" type="com.cong.wego.model.entity.UserFriendRelate">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="relateId" column="relateId" jdbcType="BIGINT"/>
            <result property="relateType" column="relateType" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,relateId,
        relateType,createTime,updateTime
    </sql>
</mapper>
